<h2 class="lead">Chapter 1 - Getting Started</h2>
    <ul>
      <li><a href="https://techboyg5.github.io/web-development-tutorial/chapter1/page1.html">1.1 - Using This Tutorial</a></li>
      <li><a href="https://techboyg5.github.io/web-development-tutorial/chapter1/page2.html">1.2 - Requirements</a></li>
    </ul>
<h2 class="lead">Chapter 2 - The Basics of HTML</h2>
    <ul>
      <li><a href="https://techboyg5.github.io/web-development-tutorial/chapter1/page1.html">2.2 - DOCTYPE</a></li>
      <li><a href="https://techboyg5.github.io/web-development-tutorial/chapter1/page2.html">2.3 - The html tag</a></li>
    </ul>
