<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex">
		<title>{{ page.title }}</title>
		<link rel="canonical" href="https://wdt.techboyg5blog.com{{ page.url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	</head>
	<body>
		<header class="tutorial-nav">
			<span class="tutorial-brand"><a href="https://techboyg5blog.com/">techboyg5</a> Web Development Tutorial</span>
			<nav class="nav-content">
				<a class="nav-link" href="{{ page.prevpage }}" title="{{ page.prevtitle }}">Previous Page</a>
				•
				<a class="nav-link" href="{{ page.nextpage }}" title="{{ page.nexttitle }}">Next Page</a>
				•
				<a class="nav-link" href="https://codeeditor.techboyg5blog.com/code-editor.html" data-fancybox data-type="iframe">Code Editor</a>
			</nav>
		</header>
		<div class="inner-container">
			<aside class="left-sidebar">
					<h2>Chapter 1 - Welcome!</h2>
					<ul>
						<li><a class="left-sidebar-link {% if page.url == '/chapter1/page1.html' %}active{% endif %}" href="/chapter1/page1.html">1.1 - Welcome!</a></li>
					</ul>
					<h2>Chapter 2 - Getting Started</h2>
					<ul>
						<li><a class="left-sidebar-link {% if page.url == '/chapter2/page1.html' %}active{% endif %}" href="/chapter2/page1.html">2.1 - What is HTML?</a></li>
						<li><a class="left-sidebar-link {% if page.url == '/chapter2/page2.html' %}active{% endif %}" href="/chapter2/page2.html">2.2 - Setting Up</a></li>
					</ul>
			</aside>
			<main class="content-container">
				<h1>{{ page.title }}</h1>
				<p>Note: This project is no longer maintained.</p>
				<article id="content">
					{{ content }}
				</article>
				<hr>
				<div class="pagination">
					<a class="pagination-link" href="{{ page.prevpage }}" title="{{ page.prevtitle }}">Previous</a>
					•
					<a class="pagination-link" href="{{ page.nextpage }}" title="{{ page.nexttitle }}">Next</a>
				</div>
			</main>
		</div>
		<footer class="footer">
			<p>© 2021 by techboyg5. No longer maintained. Licensed under the MIT License.</p>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	</body>
</html>
