<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167358769-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167358769-2');
</script>

		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="canonical" href="https://projects.techboyg5blog.com/web-development-tutorial{{ page.url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="/web-development-tutorial/style.css">
	</head>
	<body>
		<header class="tutorial-nav">
			<span class="tutorial-brand"><a href="https://techboyg5blog.com/">techboyg5</a> Web Development Tutorial</span>
			<nav class="nav-content">
				<a class="nav-link" href="{{ page.prevpage }}" title="{{ page.prevtitle }}">Previous Page</a>
				•
				<a class="nav-link" href="{{ page.nextpage }}" title="{{ page.nexttitle }}">Next Page</a>
				•
				<a id="editor-dialog-opener" class="nav-link" href="javascript:;" title="{{ page.nexttitle }}">Code Editor</a>
			</nav>
		</header>
		<div class="inner-container">
			<aside class="left-sidebar">
					<h2>Chapter 1 - Welcome!</h2>
					<ul>
						<li><a class="left-sidebar-link {% if page.url == '/chapter1/page1.html' %}active{% endif %}" href="/web-development-tutorial/chapter1/page1.html">1.1 - Welcome!</a></li>
					</ul>
					<h2>Chapter 2 - Getting Started</h2>
					<ul>
						<li><a class="left-sidebar-link {% if page.url == '/chapter2/page1.html' %}active{% endif %}" href="/web-development-tutorial/chapter2/page1.html">2.1 - What is HTML?</a></li>
						<li><a class="left-sidebar-link {% if page.url == '/chapter2/page2.html' %}active{% endif %}" href="/web-development-tutorial/chapter2/page2.html">2.2 - Setting Up</a></li>
					</ul>
			</aside>
			<main class="content-container">
				<h1>{{ page.title }}</h1>
				<article id="content">
					{{ content }}
				</article>
				<hr>
				<div class="pagination">
					<a class="pagination-link" href="{{ page.prevpage }}" title="{{ page.prevtitle }}">Previous</a>
					•
					<a class="pagination-link" href="{{ page.nextpage }}" title="{{ page.nexttitle }}">Next</a>
				</div>
				<hr>
			</main>
		</div>
		<footer class="footer">
			<div class="shields">
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&repo=web-development-tutorial&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&repo=web-development-tutorial&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&repo=web-development-tutorial&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="230" height="30" title="GitHub"></iframe>
				<a href="https://twitter.com/techboyg5?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @techboyg5</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<p>© 2020 by techboyg5. Licensed under the MIT License.</p>
		</footer>
		<div class="share-overlay">
			<div class="share-overlay-item">
				<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=58&layout=box_count&action=like&size=small&share=true&height=65&appId" width="58" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			</div>
			<div class="share-overlay-item">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div id="editor-dialog" title="Code Editor">
			<div id="editor-tabs">
				<ul>
    					<li><a href="#html">HTML</a></li>
    					<li><a href="#css">CSS</a></li>
    					<li><a href="#javascript">JavaScript</a></li>
					<li><a href="#preview">Preview</a></li>
					<li><a href="#help">Help</a></li>
					<li><a href="#embedding">Embedding</a></li>
  				</ul>
				<div id="html">
					<label for="htmlInput" style="display:block">HTML code:</label>
					<textarea id="htmlInput" cols="40" rows="15" style="width:100%"></textarea>
				</div>
				<div id="css">
					<label for="cssInput" style="display:block">CSS code:</label>
            				<textarea id="cssInput" cols="40" rows="15" style="width:100%"></textarea>
				</div>
				<div id="javascript">
					<label for="jsInput" style="display:block">JavaScript code:</label>
            				<textarea id="jsInput" cols="40" rows="15" style="width:100%"></textarea>
				</div>
				<div id="preview">
					<iframe id="codeResult" src="about:blank" width="500" height="400" style="border:none"></iframe>
					<button class="ui-button ui-widget ui-corner-all" onclick="goHtml();">Update Preview</button>
				</div>
				<div id="help">
					<p>The Code Editor dialog (which you're looking at right now) has four tabs:</p>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>Preview</li>
					</ul>
					<p>To use the Code Editor, enter HTML, CSS, and JavaScript code in their respective tabs. To see what the code would look like, move over to the Preview tab and click the "Update Preview" button.</p>
				</div>
				<div id="embedding">
					<p>If you'd like to embed the Code Editor on your own site, you can use the following code:</p>
					<pre style="overflow:auto">&lt;iframe src="https://projects.techboyg5blog.com/web-development-tutorial/code-editor-embed/" width="600" height="488" frameborder="0"&gt;&lt;/iframe&gt;</pre>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
		<script src="/web-development-tutorial/script.js"></script>
	</body>
</html>
