<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="canonical" href="https://wdt.techboyg5blog.com{{ page.url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<header class="tutorial-nav">
			<span class="tutorial-brand"><a href="https://techboyg5blog.com/">techboyg5</a> Web Development Tutorial</span>
			<nav class="nav-content">
				<a class="nav-link" href="{{ page.prevpage }}" title="{{ page.prevtitle }}">Previous Page</a>
				•
				<a class="nav-link" href="{{ page.nextpage }}" title="{{ page.nexttitle }}">Next Page</a>
				•
				<details class="code-editor-details">
					<summary class="nav-link code-editor-summary" title="Code Editor">Code Editor</summary>
  					<iframe class="code-editor-iframe" src="/code-editor.html?html=&amp;css=&amp;js="></iframe>
				</details>
			</nav>
		</header>
		<div class="inner-container">
			<aside class="left-sidebar">
					<h2>Chapter 1 - Welcome!</h2>
					<ul>
						<li><a class="left-sidebar-link {% if page.url == '/chapter1/page1.html' %}active{% endif %}" href="/chapter1/page1.html">1.1 - Welcome!</a></li>
					</ul>
					<h2>Chapter 2 - Getting Started</h2>
					<ul>
						<li><a class="left-sidebar-link {% if page.url == '/chapter2/page1.html' %}active{% endif %}" href="/chapter2/page1.html">2.1 - What is HTML?</a></li>
						<li><a class="left-sidebar-link {% if page.url == '/chapter2/page2.html' %}active{% endif %}" href="/chapter2/page2.html">2.2 - Setting Up</a></li>
					</ul>
			</aside>
			<main class="content-container">
				<h1>{{ page.title }}</h1>
				<article id="content">
					{{ content }}
				</article>
				<hr>
				<div class="pagination">
					<a class="pagination-link" href="{{ page.prevpage }}" title="{{ page.prevtitle }}">Previous</a>
					•
					<a class="pagination-link" href="{{ page.nextpage }}" title="{{ page.nexttitle }}">Next</a>
				</div>
				<hr>
			</main>
		</div>
		<footer class="footer">
			<div class="shields">
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&repo=web-development-tutorial&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&repo=web-development-tutorial&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&repo=web-development-tutorial&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=techboyg5&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="230" height="30" title="GitHub"></iframe>
				<a href="https://twitter.com/techboyg5?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @techboyg5</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<p>© 2020 by techboyg5. Licensed under the MIT License.</p>
		</footer>
	</body>
</html>
